<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA20uTDG_TG5-JvzRArADSxgukKrv97cWo</string>
	<key>GCM_SENDER_ID</key>
	<string>603602923281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saksham.PolledVisionOS</string>
	<key>PROJECT_ID</key>
	<string>polledvisionos</string>
	<key>STORAGE_BUCKET</key>
	<string>polledvisionos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603602923281:ios:c3f11e485a5b8923f8e6b0</string>
</dict>
</plist>